body {
  background: #000;
}
.open-sided-spinners {
  margin: auto;
  top: 50px;
}
.open-sided-spinners:before,
.open-sided-spinners:after {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-right-color: transparent;
  /* uses the outer keyframes below */
  -webkit-animation: linear outer 3s infinite;
  animation: linear outer 3s infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.open-sided-spinners:before {
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -15px;
  border-left-color: transparent;
  border-bottom-color: #fff;
  border-top-color: #fff;
  border-right-color: #fff;
  /* uses the inner keyframes below */
  -webkit-animation: linear inner 1.5s infinite;
  animation: linear inner 1.5s infinite;
}

/**
 * Animation keyframes code
 */
@-webkit-keyframes outer {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes outer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes inner {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes inner {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}